// Header

// Body

// Form font styles
// placeholder styling for now, just for readability
p,
label, 
input,
input::placeholder,
button,
legend {
    font-size: 1.6rem;
}

.results p {
    font-size: 3rem;
}

.results i {
    font-size: 3.5rem;
    margin-right: 20px;
}

.fa-cloud {
    color: rgb(105, 128, 204);
}

.fa-sun {
    color: rgb(230, 187, 0);
}

footer i {
    font-size: 2rem;
}