/* Portrait tablet and small desktops */
@media (max-width: 1200px) {
    .appWrapper {
        form {
            fieldset {
                padding: 10px 0 10px 10px;
                width: 100%;
            }
        }
    }
    .results {
        .forecastP {
            font-size: 4rem;       
        }
    }  
    .modal .modalButton {
        padding-left: 0;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 960px) {
    header {
        height: 75vh;
    }

    h1 {
        font-size: 8.5rem;
    }

    h2 {
        font-size: 3.5rem; 
    }

    .app {
        padding-bottom: 40px;
        .appWrapper {
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    form {
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        fieldset:first-child {
            padding: 0; 
            .flexBox {
                justify-content: space-between;
            }
            legend {
                margin: 0px 0 29px;
            }
            .smallScreenGrid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                label {
                    margin: 20px 0;
                    line-height: 1.2;
                }
            }
            input[type="search"] {
                width: 100%;
            }
        }
        button.smallScreenButton {
            align-self: initial;
            position: static;
            width: 100%;
        }
    }
    
    .results {
        position: static;
        left: 75%;
        top: initial;
        bottom: 90%;
    } 

    .forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        column-gap: 40px;
        row-gap: 110px;
        margin: 85px 0 0;
    }

    .mobileShow {
        display: block;
    }

    footer {
        text-align: center;
        line-height: 2.1;
        .flexBox {
            flex-direction: column;
            span:last-child {
                display: none;
            }
        }
    }
    .modal {
        left: 10%;
    }
}

/* Medium phones and down */
@media (max-width: 675px) {
    header {
        height: 60vh;
    }

    h1 {
        font-size: 7rem;
    } 

    .wrapper {
        width: 90%;
    }

    .app {
        padding: 40px 0 50px;
    }
            
    form,
    fieldset,
    input[type="search"] {
        width: 100%;
    }
    
    .smallScreenButton {
        margin-bottom: 20px;
    }
        
    .results {
        padding-top: 0;
        position: static; 
    } 

    footer {
        text-align: left;
        a.createdAtJuno {
            margin: 0;
        }
        .flexBox {
            span {
                display: none;
            }
            a,
            i {
                display: block;
                i {
                    margin-left: 0;
                }
            }
        }
        a:last-child {
            align-self: flex-start;
        }
    }
    .modal {
        width: 350px;
        height: 200px;
        padding: 50px;
    }
}

/* Smallest phones */
@media (max-width: 370px) {
    
    h1 {
            font-size: 5rem;
    } 

}