$headerTextColor: #2b1a16;
$footerTextColor: #f0eaea;
$bodyTextColor: #332c2a;

$backgroundColor: #f0e5dc;
$footerBackgroundColor: #7b625e;
$inputBackgroundColor: #7b625e4a;
$focusOutline: 4px solid #f1a87d;
$hoverColor: #5c5a7f;