html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #332c2a;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14rem;
  font-weight: 700;
  color: #2b1a16;
  text-transform: uppercase;
  line-height: 80%;
  text-shadow: 3px 2px 2px #ffecec;
}

h2 {
  font-size: 5rem;
  font-weight: 500;
}

h2,
button {
  font-family: "Crimson Text", serif;
}

p {
  font-size: 1.6rem;
}

input::-webkit-input-placeholder {
  font-size: 2.8rem;
  text-decoration: none;
}

input::-moz-placeholder {
  font-size: 2.8rem;
  text-decoration: none;
}

input:-ms-input-placeholder {
  font-size: 2.8rem;
  text-decoration: none;
}

input::-ms-input-placeholder {
  font-size: 2.8rem;
  text-decoration: none;
}

h3,
label,
input,
input::placeholder,
button,
legend,
.skip-link {
  font-size: 2.8rem;
  text-decoration: none;
}

p,
legend,
label,
input,
.skip-link {
  font-family: "Nunito Sans", sans-serif;
  color: #332c2a;
}

.results p {
  font-size: 4.4rem;
}

.results i {
  font-size: 5.5rem;
  margin-right: 20px;
}

button {
  text-transform: uppercase;
}

footer {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
}
footer p,
footer i,
footer a {
  color: #f0eaea;
}
footer p {
  font-size: 1.6rem;
}
footer a {
  text-decoration: none;
}
footer i {
  font-size: 2rem;
}

.modal p {
  font-size: 2rem;
  color: #f0eaea;
}
.modal button {
  color: #c4bfbf;
}

p.displayDescription {
  font-size: 2.4rem;
}

html {
  font-size: 62.5%;
  background: #cfbfb7;
}

body, h1, h2, h3, h4, p, nav, ul, li, button {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  height: 90vh;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}
header i {
  color: #ffecec;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-animation: headerArrow 4s infinite;
          animation: headerArrow 4s infinite;
}

@-webkit-keyframes headerArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes headerArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
header, section, form, footer {
  padding: 20px;
}

main {
  background-color: #f0e5dc;
}

img {
  max-width: 100%;
  display: block;
}

.displayIcon img {
  max-width: initial;
}

li {
  list-style: none;
}

form, .results, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input:focus,
a:focus,
textarea:focus,
button:focus,
.radioInput:focus + .customRadio {
  outline: 4px solid #f1a87d;
}

input[type=search]:hover {
  border: 1.5px dotted black;
  padding: 20.5px;
}

.smallScreenButton:hover {
  border: 2.5px dotted black;
  padding: 22.5px 47.5px;
}

.app {
  background-color: #f0e5dc;
  padding: 80px 0 150px;
  width: 90%;
}
.app .appWrapper {
  position: relative;
}

form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 20px 20px;
}
form legend {
  margin: 0px auto 20px;
}
form label {
  margin: 20px 40px 0 0;
  min-width: 90px;
}
form input.search {
  margin: 20px 0;
  min-width: 200px;
  width: 60%;
  padding: 22px;
  border: none;
  background-color: #7b625e4a;
}

fieldset {
  border: none;
  padding: 10px;
  width: 100%;
}
fieldset .flexBox {
  margin-bottom: 29px;
  /* When the checkbox is checked, add a blue background */
}
fieldset .flexBox .radioBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 5px 0 0 47px;
  /* On mouse-over, add a grey background color */
}
fieldset .flexBox .radioBox .radioBox.now {
  margin-right: 40px;
}
fieldset .flexBox .radioBox .radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
fieldset .flexBox .radioBox .customRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #7b625e4a;
  border-radius: 50%;
}
fieldset .flexBox .radioBox span.customRadio:hover {
  background-color: #5c5a7f;
}
fieldset .flexBox .radioBox .radioInput:checked ~ .customRadio {
  background-color: #7b625e;
}
fieldset .searchLabel {
  display: block;
  width: 100%;
  margin-right: 20px;
  padding-top: 50px;
}

button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 30px;
  padding: 25px 50px;
  position: relative;
  right: 25%;
  text-align: center;
  background-color: #7b625e;
  color: #f0eaea;
  border: none;
}

button.smallScreenButton:focus {
  border: none;
  padding: 21px 46px;
  margin: 0 0 34px 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customRadio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radioBox .radioInput:checked ~ .customRadio:after {
  display: block;
}

/* Style the checkmark/indicator */
.radioBox .customRadio:after {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
}

.results {
  position: absolute;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0 60px;
  left: 85%;
  top: 0;
  white-space: nowrap;
}

.results p:last-child {
  padding-bottom: 25px;
  position: absolute;
  left: 50%;
  margin-left: 40px;
}

.forecast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 78px;
  margin: 0;
  width: 100%;
}

footer {
  background-color: #7b625e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer a:hover {
  text-decoration: underline;
}
footer .flexBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .flexBox a {
  margin: 0 20px 0;
  padding: 1px;
}
footer .flexBox a i {
  margin-left: 20px;
}

a.createdAtJuno {
  margin-left: 25px;
}

.wrapper {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobileShow {
  display: none;
  color: #332c2a;
  font-size: 3rem;
  left: 50%;
  top: 90%;
  -webkit-animation: headerArrow 4s infinite;
          animation: headerArrow 4s infinite;
  padding-top: 30px;
  opacity: 0.85;
}

.modal {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 300px;
  width: 500px;
  padding: 100px;
  background-color: #7b625e;
  border: 3px solid #2b1a16;
}
.modal .modalButton {
  color: #c8c3c3;
  padding-left: 75px;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  height: 79px;
  padding: 20px 50px;
  text-align: center;
  background-color: #7b625e;
  color: #f0eaea;
  border: none;
}

.skip-link:focus {
  left: 0;
}

/* Portrait tablet and small desktops */
@media (max-width: 1200px) {
  .appWrapper form fieldset {
    padding: 10px 0 10px 10px;
    width: 100%;
  }

  .results .forecastP {
    font-size: 4rem;
  }

  .modal .modalButton {
    padding-left: 0;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 960px) {
  header {
    height: 75vh;
  }

  h1 {
    font-size: 8.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  .app {
    padding-bottom: 40px;
  }
  .app .appWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  form fieldset {
    padding: 0;
  }
  form fieldset .flexBox {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form fieldset legend {
    margin: 0px 0 29px;
  }
  form fieldset .smallScreenGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  form fieldset .smallScreenGrid label {
    margin: 20px 0;
    line-height: 1.2;
  }
  form fieldset input[type=search] {
    width: 100%;
  }
  form button.smallScreenButton {
    -ms-flex-item-align: initial;
        align-self: initial;
    position: static;
    width: 100%;
  }

  .results {
    position: static;
    left: 75%;
    top: initial;
    bottom: 90%;
  }

  .forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 110px;
    margin: 85px 0 0;
  }

  .mobileShow {
    display: block;
  }

  footer {
    text-align: center;
    line-height: 2.1;
  }
  footer .flexBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .flexBox span:last-child {
    display: none;
  }

  .modal {
    left: 10%;
  }
}
/* Landscape phones and down */
@media (max-width: 675px) {
  header {
    height: 60vh;
  }
  header a > .fa-chevron-down {
    display: none;
  }

  h1 {
    font-size: 7rem;
  }

  .wrapper {
    width: 90%;
  }

  .app {
    padding: 40px 0 50px;
  }

  form,
fieldset,
input[type=search] {
    width: 100%;
  }

  .smallScreenButton {
    margin-bottom: 20px;
  }

  .results {
    padding-top: 0;
    position: static;
  }

  footer {
    text-align: left;
  }
  footer a.createdAtJuno {
    margin: 0;
  }
  footer .flexBox span {
    display: none;
  }
  footer .flexBox a,
footer .flexBox i {
    display: block;
  }
  footer .flexBox a i,
footer .flexBox i i {
    margin-left: 0;
  }
  footer a:last-child {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .modal {
    width: 350px;
    height: 200px;
    padding: 50px;
  }
}