html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #332c2a;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14rem;
  font-weight: 700;
  color: #2b1a16;
  text-transform: uppercase;
  line-height: 80%;
  text-shadow: 3px 2px 2px #ffecec;
}

h2 {
  font-size: 5rem;
  font-weight: 500;
}

h2,
button {
  font-family: 'Crimson Text', serif;
}

p {
  font-size: 1.6rem;
}

h3,
label,
input,
input::-webkit-input-placeholder,
button,
legend,
.skip-link {
  font-size: 2.8rem;
  text-decoration: none;
}

h3,
label,
input,
input:-ms-input-placeholder,
button,
legend,
.skip-link {
  font-size: 2.8rem;
  text-decoration: none;
}

h3,
label,
input,
input::-ms-input-placeholder,
button,
legend,
.skip-link {
  font-size: 2.8rem;
  text-decoration: none;
}

h3,
label,
input,
input::placeholder,
button,
legend,
.skip-link {
  font-size: 2.8rem;
  text-decoration: none;
}

p,
legend,
label,
input,
.skip-link {
  font-family: 'Nunito Sans', sans-serif;
  color: #332c2a;
}

.results p {
  font-size: 4.4rem;
}

.results i {
  font-size: 5.5rem;
  margin-right: 20px;
}

.fa-cloud {
  color: #6980cc;
}

.fa-sun {
  color: #e6bb00;
}

button {
  text-transform: uppercase;
}

footer p,
footer i,
footer a {
  color: #f0eaea;
}

footer p {
  font-size: 1.6rem;
}

footer a {
  text-decoration: none;
}

footer i {
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}

body, h1, h2, h3, h4, p, nav, ul, li, button {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  height: 90vh;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

header i {
  color: #ffecec;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-animation: headerArrow 4s infinite;
          animation: headerArrow 4s infinite;
}

@-webkit-keyframes headerArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes headerArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

header, section, form, footer {
  padding: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.displayIcon img {
  max-width: initial;
}

li {
  list-style: none;
}

main {
  background-color: #f0e5dc;
}

form, .results, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app {
  padding: 110px 0 50px;
}

.app .appWrapper {
  position: relative;
}

.app .appWrapper form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 20px 20px;
}

.app .appWrapper form fieldset {
  border: none;
  padding: 10px;
}

.app .appWrapper form fieldset .flexBox {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
  /* When the checkbox is checked, add a blue background */
}

.app .appWrapper form fieldset .flexBox .radioBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 0 0 47px;
  /* On mouse-over, add a grey background color */
}

.app .appWrapper form fieldset .flexBox .radioBox .radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.app .appWrapper form fieldset .flexBox .radioBox .customRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #cfbfb7;
  border-radius: 50%;
}

.app .appWrapper form fieldset .flexBox .radioBox span.customRadio:hover {
  background-color: #5c5a7f;
}

.app .appWrapper form fieldset .flexBox .radioBox .radioInput:checked ~ .customRadio {
  background-color: #7B625E;
}

.app .appWrapper form fieldset .searchLabel {
  margin-right: 20px;
}

.app .appWrapper form legend {
  margin: 50px auto;
  white-space: nowrap;
}

.app .appWrapper form label {
  margin: 20px 0 0;
  min-width: 90px;
}

.app .appWrapper form input.search {
  margin: 20px 0;
  min-width: 200px;
  width: 50%;
  padding: 20px;
  border: none;
  background-color: #7b625e4a;
}

.app .appWrapper form button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 30px;
  height: 79px;
  padding: 20px 50px;
  position: relative;
  right: 25%;
  text-align: center;
  background-color: #7b625e;
  color: #f0eaea;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customRadio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radioBox .radioInput:checked ~ .customRadio:after {
  display: block;
}

/* Style the checkmark/indicator */
.radioBox .customRadio:after {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
}

.results {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  padding-bottom: 60px;
  left: 90%;
  top: 37%;
  white-space: nowrap;
}

.forecast {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 78px;
  margin: 0;
  width: 100%;
}

footer {
  background-color: #7b625e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .flexBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .flexBox i {
  margin-left: 20px;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.wrapper {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skip-link {
  height: 79px;
  padding: 20px 50px;
  text-align: center;
  background-color: #7b625e;
  color: #f0eaea;
  border: none;
}

/* Portrait tablet and small desktops */
@media (max-width: 1200px) {
  .appWrapper form fieldset {
    padding: 10px 10px 10px 0;
    width: 100%;
    width: 53vw;
  }
  .appWrapper form fieldset legend.legend {
    white-space: normal;
  }
  .appWrapper form button {
    right: initial;
  }
  .results {
    left: 85%;
    top: 37%;
  }
  .results .forecastP {
    font-size: 4rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 900px) {
  h1 {
    font-size: 8.5rem;
  }
  .appWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .appWrapper form.form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .appWrapper form.form fieldset.fieldset {
    padding: 0;
  }
  .appWrapper form.form fieldset.fieldset .flexBox {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .appWrapper form.form fieldset.fieldset legend.legend {
    margin: 0px 0 29px;
  }
  .appWrapper form.form fieldset.fieldset .smallScreenGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .appWrapper form.form fieldset.fieldset .smallScreenGrid label {
    margin: 20px 0;
    white-space: nowrap;
  }
  .appWrapper form.form fieldset.fieldset input[type="search"] {
    width: 68vw;
  }
  .appWrapper form.form button.smallScreenButton {
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
    position: static;
    width: 100%;
  }
  .results {
    position: static;
    left: 75%;
    top: initial;
    bottom: 90%;
  }
  .forecast {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    row-gap: 110px;
    margin: 85px 0 0;
  }
}

/* Landscape phones and down */
@media (max-width: 600px) {
  header {
    height: 50vh;
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  .wrapper {
    width: 90%;
  }
  .appWrapper form.form {
    width: 100%;
  }
  .appWrapper form.form fieldset.fieldset {
    width: 100%;
  }
  .appWrapper form.form fieldset.fieldset input[type="search"] {
    width: 100%;
  }
  .results {
    position: static;
  }
}
